{% extends 'base.html.twig' %}

{% block title %}Supply{% endblock %}

{% block body %}
    <h1>New supply</h1>

    {{ include('supply/_form.html.twig') }}

    <a href="{{ path('app_supply_index') }}">Back</a>
{% endblock %}
